.events-calendar {
  display: flex;
  height: 100vh;
}

.calendar-container {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-header {
  color: #FFFFFF;
  font-family: "adobe-garamond-pro", serif;
  margin-bottom: 20px;
}

.calendar {
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.react-calendar {
  width: 100%;
  border: none;
}

.react-calendar__tile {
  position: relative;
  text-align: center;
  font-family: "adobe-garamond-pro", serif;
  transition: background-color 0.3s ease;
  padding: 5px; /* Reset padding */
  width: 100%;
  height: 0;
  padding-bottom: 10%; /* Make tiles square */
}

.react-calendar__tile--active {
  background-color: #2F124F;
  color: white;
}

.event-marker {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 8px;
  height: 8px;
  background-color: #FFC72A;
  border-radius: 50%;
}

.event-info-panel {
  width: 300px;
  background-color: #2f124f;
  color: white;
  padding: 20px;
  border-left: 1px solid #FFC72A;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
}

.event-info-panel h2 {
  color: #FFC72A;
  font-family: "adobe-garamond-pro", serif;
}

.event-list {
  list-style-type: none;
  padding: 0;
}

.event-item {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #5f249f;
  border-radius: 5px;
  color: #fff;
}

.event-item h2 {
  margin-top: 0;
}

.event-item p {
  margin: 5px 0;
}
